<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.techtown.letseat">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".KakaoSDKInit"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LetsEat"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SettingActivity"
            android:exported="true" />
        <activity
            android:name=".IdActivity"
            android:exported="true" />
        <activity
            android:name=".PasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ZzimActivity"
            android:exported="true" />
        <activity
            android:name=".photo.ReviewSearch"
            android:exported="true" />
        <activity
            android:name=".photo.ReviewSearchAdapter"
            android:exported="true" />
        <activity
            android:name=".MyReview"
            android:exported="true" />
        <activity
            android:name=".RestSearch2"
            android:exported="true" />
        <activity
            android:name=".Kakao_Login_userInfo"
            android:exported="true" />
        <activity
            android:name=".Restaurant_Search"
            android:exported="true" />
        <activity
            android:name=".restaurant.list.RestList_onemanFood"
            android:exported="true" />
        <activity
            android:name=".restaurant.list.RestList_westernFood"
            android:exported="true" />
        <activity
            android:name=".restaurant.list.RestList_japanFood"
            android:exported="true" />
        <activity
            android:name=".restaurant.list.RestList_chinaFood"
            android:exported="true" />
        <activity
            android:name=".restaurant.list.RestList_KoreanFood"
            android:exported="true" />
        <activity
            android:name=".Review.ReviewActivity"
            android:exported="true" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="d8aeb3d2d3af0540824e12d6ba383ba4" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDwi28qhFQzZBAfyCvLbkkPRG5zSEiGmHY" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".mytab.Information_Fix"
            android:exported="true" />
        <activity
            android:name=".restaurant.qr.qr_restActivity"
            android:exported="true" />
        <activity
            android:name=".mytab.waiting_Layout"
            android:exported="true" />
        <activity
            android:name=".mytab.MyTab"
            android:exported="true" />
        <activity android:name=".pay_test.PayActivity" />
        <activity android:name=".pay_test.Kakao_pay_test" />
        <activity android:name=".restaurant.list.RestListMain" />
        <activity android:name=".photo.PhotoList" />
        <activity
            android:name=".Review.ReviewActivity"
            android:exported="true" />
        <activity
            android:name=".Review.ReviewImage1"
            android:exported="true"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".order.OrderActivity"
            android:exported="true" />
        <activity android:name=".login.RegisterActivity" />
        <activity
            android:name=".restaurant.info.RestInfoMain"
            android:exported="true" />
        <activity
            android:name=".login.Login"
            android:exported="true" />
        <activity
            android:name=".waiting.WaitingActivity"
            android:exported="true" />
        <activity
            android:name=".map.Map_MainActivity"
            android:exported="true" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
    </application>

</manifest>