<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.techtown.letseat">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <uses-feature android:name="android.hardware.camera" />



    <application
        android:usesCleartextTraffic="true"
        android:name=".KakaoSDKInit"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LetsEat">
        <activity
            android:name=".Naver_map"
            android:exported="true" />


        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="d8aeb3d2d3af0540824e12d6ba383ba4" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".mytab.information_fix"
            android:exported="true" />
        <activity
            android:name=".mytab.waiting_Layout"
            android:exported="true" />
        <activity
            android:name=".mytab.MyTab"
            android:exported="true" />
        <activity android:name=".pay_test.PayActivity" />
        <activity android:name=".pay_test.Kakao_pay_test" />
        <activity android:name=".menu.menu_sample" />
        <activity android:name=".restaurant.list.RestListMain" />
        <activity android:name=".photo.PhotoList" />
        <activity
            android:name=".ReviewActivity"
            android:exported="true" />
        <activity
            android:name=".order.OrderActivity"
            android:exported="true" />
        <activity android:name=".login.RegisterActivity" />
        <activity
            android:name=".restaurant.info.RestInfoMain"
            android:exported="true" />
        <activity
            android:name=".login.Login"
            android:exported="true" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
    </application>

</manifest>